h3 settings
hr

= link_to "home", links_path
hr

p
  = render "users/display_name"
hr

p
  = render "links/delete_old_links", paginate: true

= render "color_modes/show"

hr

= link_to "donate", "https://commerce.coinbase.com/checkout/0367ed6d-9798-482a-a541-a86cabe53b5a"
