@charset "utf-8";

@import "normalize.css/normalize.css";

@import "bourbon";
@import "neat";

@import "refills/flashes";

.container {
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 20px;
}

.text-align-center {
  text-align: center;
}
