@charset "utf-8";

@import "normalize.css/normalize.css";

@import "bourbon";
@import "neat";

@import "refills/flashes";

.container {
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 30px;
}

.text-align-center {
  text-align: center;
}

.delete {
  a {
    color: black;
    margin-left: 20px;
    text-decoration: none;
  }
}

.sorting-links {
  a:visited {
    color: blue;
    text-decoration: none;
  }
}
