@charset "utf-8";

@import "bourbon";
@import "neat";

@import "refills/flashes";
@import "font-awesome";

.container {
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 30px;
}

.text-align-center {
  text-align: center;
}

.delete {
  a {
    color: black;
    text-decoration: none;
  }
}

.sorting-links {
  a:visited {
    color: blue;
    text-decoration: none;
  }
}

.link_address,
.tag_title,
.link_search_search,
.user_display_name {
  display: inline-block;
  margin-right: 20px;
}

#link_address, #tag_title, #user_display_name {
  width: 25vw;
}

#tag_color {
  margin-right: 20px;
}

.delete-prompt {
  margin-right: 20px;
}

.submit-field, .password-field {
  margin-top: 10px;
}

$styles: margin padding;
$directions: left right top bottom;

@each $style in $styles {
  @for $i from 0 through 50 {
    .#{$style}-#{$i} { #{$style}: #{$i}px; }
    @each $direction in $directions {
      .#{$style}-#{$direction}-#{$i} { #{$style}-#{$direction}: #{$i}px }
    }
  }
}

.favorite {
  img {
    width: 15px;
    height: 15px;
  }
}

iframe {
  height: 90vh;
  width: 100%;
}

.clickable {
  cursor: pointer;
}

.no-link-styling {
  color: black;
  text-decoration: none;
}

@media (max-width: 768px) {
  .container {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 10px;
  }

  #link_address {
    width: 50vw;
  }
}

.circle {
  display: inline-block;
  margin-right: 5px;
  border-radius: 100%;
  width: 10px;
  height: 10px;
}

.display-inline {
  display: inline;
}

.no-pointer {
  pointer-events: none;
}
